.right{float: left;}
.right div{float:left;background-color: #F5F5F5;width: 700px;height:400px;margin-top: 20px;font-family: "微软雅黑";}

input{width: 200px;height: 30px;}
.submit{width: 100px;height: 36px;}

