.right div{background-color: #F5F5F5;width: 750px;height:380px;margin-left: 100px;margin-top: 20px;}

a{text-decoration: none;color:#B71717;}

.right .middle{padding-top: 50px;}

.right input{margin-left:80px;margin-top: 20px;width: 250px;height: 30px;border-radius: 3px;border:#AAAAAA solid 1px;}
