
.right_top{margin-left: 50px;margin-top: 50px;float:left;}

.right_middle{width: 500px;float:left;margin-left: 50px;}

.right_buttom{width: 500px;float:left;margin-left: 50px;font-family: "微软雅黑";}