.right{float:left;margin-left: 230px;margin-top: 50px;}

.right_top{border:#CCCCCC solid 1px;font-family: "微软雅黑";width: 400px;height: 30px;padding-top: 10px;padding-left: 10px;padding-right: 10px;}

.right_buttom{border:#CCCCCC solid 1px;font-family: "微软雅黑";width: 400px;height: 200px;margin-top: 20px;padding-top: 10px;padding-left: 10px;padding-right: 10px;}